<!DOCTYPE html>
<html>
  <title>Minihacks</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />

<body>

<!-- Navbar -->
<div class="top">
  <div class="bar black card">
    <a href="#register" class="bar-item button padding-large">REGISTER</a>
    <a href="#about" class="bar-item button padding-large hide-small">ABOUT</a>
    <a href="#schedule" class="bar-item button padding-large hide-small">SCHEDULE</a>
    <a href="#faq" class="bar-item button padding-large hide-small">FAQ</a>
    <a href="#sponsors" class="bar-item button padding-large hide-small">SPONSORS</a>
  </div>
</div>

<div id="navDemo" class="bar-block black hide hide-large hide-medium top" style="margin-top:46px">
  <a href="#band" class="bar-item button padding-large" onclick="myFunction()">BAND</a>
  <a href="#tour" class="bar-item button padding-large" onclick="myFunction()">TOUR</a>
  <a href="#contact" class="bar-item button padding-large" onclick="myFunction()">CONTACT</a>
  <a href="#" class="bar-item button padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides display-container center"></div>

  <div class="container content center padding-64" style="max-width:800px" id="about">
    <h2 class="wide">ABOUT</h2>
    <p class="opacity"><i></i></p>
    <p class="justify"></p>
    <!--   <div class="row padding-32">
      <div class="third">
        <p>Name</p>
        <img src="" class="round margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="third">
        <p>Name</p>
        <img src="" class="round margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="third">
        <p>Name</p>
        <img src="" class="round" alt="Random Name" style="width:60%">
      </div>
    </div>-->
  </div>

  <!-- The Tour Section -->
  <div class="black" id="schedule">
    <div class="container content padding-64" style="max-width:800px">
      <h2 class="wide center">SCHEDULE</h2>
      <p class="opacity center"><i></i></p><br>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="container content padding-64" style="max-width:800px" id="faq">
    <h2 class="wide center">FAQ</h2>
    <p class="opacity center"><i></i></p>
  </div>
</div>

<footer class="center black padding-16 center">
  <small> ©
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
    Minihacks. All rights reserved.</small>
</footer>

</body>
</html>
