<!DOCTYPE html>
<html>
  <title>Mini Hacks</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
  <div class="container">
    <a class="navbar-brand" href="/"><b>MINI HACKS</b></a>
      <ul class="navbar-nav ml-auto">
        <a href="#about">ABOUT</a>
        <a href="#schedule">SCHEDULE</a>
        <a href="#faq">FAQ</a>
        <a href="#sponsors">SPONSORS</a>
        <a href="#register">REGISTER</a>
      </ul>
  </div>
</nav>

<!-- Page content -->
<div class="content" style="max-width:2000px;margin-top:50px">

  <!-- Cover Section -->
  <div class="container cover" id="register" >
    <h2 style="font-size: 80px"><b>MINI HACKS</b></h2>
    <p style="font-size: 20px"><i>Date and Venue TBD</i></p>
    <a href="https://google.com"><button style="margin-top: 50px"><b>R E G I S T E R&nbsp;&nbsp;&nbsp;N O W !</b></button></a>
    <a class="button" href="#about"><h4 class="down-1">▼</h4></a>
  </div>

  <!-- About Section -->
  <div class="container" id="about">
    <h2 style="font-size: 60px; padding-top:2em"><b>About</b></h2>
    <p style="font-size: 20px">Mini Hacks is an entrepreneurship competition for <b>middle school females (trans and non-binary inclusive)</b> in the East Bay.
      During this event, students will generate technical solutions to real world problems. Girls will pitch ideas, form teams around the top ideas, research their customers, and collaborate to build a presentation demonstrating the potential of their business. The event culminates in a “SHARK TANK” style pitch competition where teams present their company to a panel of judges for the chance to win prizes!
      <br></br>Join us for the <b>opportunity to exercise real world skills such as ideation, design, presentation,</b> as well as leadership and collaboration!
      <br></br>Mini Hacks will provide attendees with educational resources including seminars and mentors, and an environment that will enable their success.</p>
    <a class="button" href="#schedule" style="text-align:center"><h4 class="down-2">▼</h4></a>
  </div>

  <!-- Schedule Section -->
  <div id="schedule">
    <div class="container">
      <h2 style="font-size: 60px; padding-top:1.5em"><b>Schedule</b></h2>
      <p style="font-size: 20px"><i>Event schedule is subject to change</i></p><br>
      <table style="font-size: 16px; width: 40%;">
        <tr>
          <td>&nbsp;&nbsp;8:00 AM</td>
          <td>Check In</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;8:30 AM</td>
          <td>Opening Ceremony</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;9:00 AM</td>
          <td>Problem Identification Workshop</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;9:30 AM</td>
          <td>Elevator Pitch Workshop</td>
        </tr>
        <tr>
          <td>10:00 AM</td>
          <td>Ideation and Pitching</td>
        </tr>
        <tr>
          <td>11:00 AM</td>
          <td>Voting and Team Formation</td>
        </tr>
        <tr>
          <td>12:00 PM</td>
          <td><b>Lunch</b></td>
        </tr>
        <tr>
          <td>12:30 PM</td>
          <td>Keynote Speaker</td>
        </tr>
        <tr>
          <td>12:30 PM</td>
          <td>Keynote Speaker</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;2:00 PM</td>
          <td>Final Presentation Workshop</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;3:00 PM</td>
          <td>Cup Stacking (optional)</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;3:30 PM</td>
          <td><b>Afternoon Snack!</b></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;3:30 PM</td>
          <td>Finalize Projects</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;5:00 PM</td>
          <td><b>Dinner</b></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;6:00 PM</td>
          <td>Final Presentation</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;7:30 PM</td>
          <td>Awards and Closing Ceremony</td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;8:00 PM</td>
          <td>Wrap Up</td>
        </tr>
      </table>
      </div>
    <a class="button" href="#faq" style="text-align:center"><h4 class="down-3">▼</h4></a>
  </div>

  <!-- Faq Section -->
  <div class="container" id="faq">
    <h2 style="font-size: 60px; padding-top:1.5em"><b>FAQs</b></h2>
      <div class="half">
        <p style="font-size:20px"><i>How much does it cost to attend?</i></p>
        <p style="font-size:15px">Nothing! Just bring your beautiful self :) We will provide you with food, WiFi, and more!</p>
      </div>
      <div class="half">
        <p style="font-size:20px"><i>What is a hackathon?</i></p>
        <p style="font-size:15px">A hackathon is a competitive educational event in which students come together to develop technical solutions to real world problems.</p>
      </div>
      <div class="half">
        <p style="font-size:20px"><i>Who can attend?</i></p>
        <p style="font-size:15px">Anyone who identifies as a female in middle school (grades 6 through 8) is welcome. We are inclusive of all non-binary and trans students! Although we do not accept males as attendees, we wholeheartedly welcome all genders to sign up as a mentor, workshop leader, judge, or volunteer!</p>
      </div>
      <div class="half">
        <p style="font-size:20px"><i>What should I bring?</i></p>
        <p>A valid ID (school ID is fine), a laptop (if possible) + charger(s), signed and completed waivers</p>
      </div>
    </div>
    <a class="button" href="#sponsors" style="text-align:center"><h4 class="down-2">▼</h4></a>
  </div>

  <!-- Sponsors Section -->
  <div id="sponsors">
    <div class="container">
      <h2 style="font-size: 60px; padding-top:2em"><b>Sponsors</b></h2>
      <p style="font-size: 20px"><i>We would like to recognize our sponsors for enabling this event to happen!</i></p>
      <p style="font-size: 20px">WeWork</p>
      <p style="font-size: 20px">PIXAR</p>
    </div>
  </div>

  <footer>
    <small> ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      Mini Hacks. All rights reserved.</small>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
