<!DOCTYPE html>
<html>
  <title>Mini Hacks</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <link rel="shortcut icon" type="image/jpg" href="../images/logo.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">MINI HACKS</a>
      <ul class="navbar-nav ml-auto">
        <a href="#about">ABOUT</a>
        <a href="#schedule">SCHEDULE</a>
        <a href="#faq">FAQ</a>
        <a href="#sponsors">SPONSORS</a>
        <a href="#register">REGISTER</a>
      </ul>
  </div>
</nav>

<!-- Page content -->
  <div class="content" style="max-width:2000px;margin-top:46px">

  <!-- Register/About Section -->
  <div class="container" id="about">
    <h2>MINI HACKS</h2>
    <p><i>The first East Bay entrepreneurship competition for middle schoolers!</i></p>
  </div>

  <!-- Schedule Section -->
  <div id="schedule">
    <div class="container">
      <h2 class="title">SCHEDULE</h2>
      <p class="opacity center"><i></i></p><br>
    </div>
  </div>

  <!-- Faq Section -->
  <div class="container" id="faq">
    <h2 class="title">FAQ</h2>
    <div class="row">
      <div class="half">
        <p class="opacity center"><i>How much does it cost to attend?</i></p>
        <p class="opacity center">Nothing! Just bring your beautiful self :) We will provide you with food, WiFi, and more!</p>
      </div>
      <div class="half">
        <p class="opacity center"><i>How much does it cost to attend?</i></p>
        <p class="opacity center">Nothing! Just bring your beautiful self :) We will provide you with food, WiFi, and more!</p>
      </div>
    </div>
    <div class="row">
      <div class="half">
        <p class="opacity center"><i>How much does it cost to attend?</i></p>
        <p class="opacity center">Nothing! Just bring your beautiful self :) We will provide you with food, WiFi, and more!</p>
      </div>
      <div class="half">
        <p class="opacity center"><i>How much does it cost to attend?</i></p>
        <p class="opacity center">Nothing! Just bring your beautiful self :) We will provide you with food, WiFi, and more!</p>
      </div>
    </div>
  </div>

  <!-- Sponsors Section -->
  <div id="sponsors">
    <div class="container">
      <h2 class="title">SPONSORS</h2>
      <p class="opacity center"><i></i></p><br>
    </div>
  </div>

  <footer>
    <small> ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      Mini Hacks. All rights reserved.</small>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
