html {
  box-sizing:border-box;
  scroll-behavior: smooth
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 45px;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  margin-left: -65px;
}

.navbar-nav {
  margin-right: -80px;
}

.navbar-nav a {
  padding: 0 1em;
}

footer {
  padding: 2em;
  text-align: center;
  justify-content: center;
}
